body{
    overflow: hidden;
}
nav > .voltar{
    position: absolute;
    left: 16px;
    top: 26%;
    font-size: 26px;
    background-color: transparent;
    border: transparent;
    color: white;
    cursor: pointer;
}
.cadastro-box{
    border: solid 2px black;
    border-radius: 15px;
    background-color: white;
    width: 500px;
    height: 200px;
    padding: 16px;
    margin: 5% auto;
    box-shadow: -10px 10px 44px 0px rgba(0,0,0,0.74);
    -webkit-box-shadow: -10px 10px 44px 0px rgba(0,0,0,0.74);
    -moz-box-shadow: -10px 10px 44px 0px rgba(0,0,0,0.74);
}
.cadastro-box > input::placeholder{
    color: black;
    font-size: 12px;
    font-family: 'Roboto';
}
.tipos-usuarios{
    width: 50%;
    display: flex;
    margin: auto;
}
#leitores:hover, #contribuidores:hover{
    box-shadow: -17px 11px 39px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -17px 11px 39px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -17px 11px 39px 0px rgba(0,0,0,0.75);
}
.box{
    background-color: white;
    padding: 10px 6px;
    margin: 6px;
    border-radius: 15px;
    width: 400px;
}
input{
    margin: 5px;
    width: 60%;
    border: transparent;
    border-bottom: solid 2px gray;
}
input:focus{
    outline: none;
    border-bottom: solid 2px blue;
}
#email{
    margin-top: 30px;
}
#cadastrar{
    margin-top: 36px;
    background-color: blue;
    border: transparent;
    color: white;
    font-family: 'Roboto';
    font-weight: bolder;
    width: 66px;
    height: 36px;
    border-radius: 20px;
}