@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27%29%3B');
:root{
    --blue: #1DA6E1;
    --yellow: #FFD321;
}
body{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: var(--yellow);
    padding-top: 50px;
    font-family: 'Roboto';
    margin-left: -3px;
}
img{
    -webkit-user-drag: none;
    -moz-window-dragging: none;
}
.simple-link{
    background-color: transparent; 
    color: blue; 
    text-decoration: solid 1px blue; 
    margin: 16px auto;
}
a{
    background-color: transparent; 
    color: blue;
    margin: 16px auto;
    font-weight: bold;
}
#u:focus-within ~ #user-data{
    display: block;
}
#user-data:hover{
    display: block;
}
.back-blur{
    display: none;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2.5px);
}
.search{
    color: white;
    text-decoration: none;
    font-size: 26px;
    margin-left: -16px;
}
.search:hover{
    color: rgb(221, 221, 221);
    transform: scale(1.1);
}
.search-box {
    position: fixed;
    top: 35px;
    right: 15px;
    transform: translate(-50%, -50%);
    height: 30px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box:focus-within{
    width: 100%;
    height: 120%;
    top: 40%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}
.search-box:focus-within > .search-txt {
    width: 240px;
    opacity: 100%;
    padding: 0 6px;
    color: black;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 9999;
    border: solid 0.7px var(--yellow);
}
.search-box:focus-within > .search-btn{
    opacity: 0;
    transition: opacity 0.5s;
}
.search-txt{
    border: none;
    background: none;
    opacity: 0;
    border-radius: 10px;
    outline: none;
    padding: 0;
    margin-right: 10px;
    color: black;
    background-color: white;
    font-size: 14px;
    line-height: 40px;
    width: 0;
    box-shadow: 0 2px 10px black;
    transition: opacity 0.5s ease-in, background 0.5s ease-in;
    font-family: Open Sans;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-txt:hover{
    border: solid 1px var(--yellow);
}
.search-txt::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 0.47);
}
.search-btn{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s;
}
.search-predictions{
    position: fixed;
    display: none;
    background-color: white;
    top: 21%;
    right: 50%;
    height: 450px;
    transform: translate(50%, 0);
    overflow: scroll;
}
.search-box:focus-within ~ .search-predictions{
    display: block;
}
.search-predictions > div{
    display: flex;
    color: black;
    gap: 4px;
    border: dotted 2px rgba(0, 0, 0, 0.479);
    align-items: center;
    margin: 0 10px;
}
.search-predictions > div > img{
    width: 100px;
}
.livro-box{
    background-color: white;
    position: fixed;
    width: 60%;
    height: 550px;
    padding: 5px;
    top: 40%;
    left: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translate(-50%, -40%);
    border: solid 2px black;
    border-radius: 20px;
}
.livro-box > .fechar{
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 30px;
}
.sobre-autor{
    width: 96%;
    margin-left: -3px;
    display: flex;
    background-color: #dfe98b;
    padding: 10px;
    border: solid 2px #ffc508;
}
.sobre-autor > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
nav{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: var(--blue);
    color: white;
    font-family: 'Rubik';
    width: 100%;
    z-index: 9988;
}
#user-data{
    position: fixed;
    display: none;
    background-color: white;
    width: 200px;
    border: solid 2px black;
    color: black;
    height: 110px;
    padding: 5px;
    right: 5px;
    top: 15%;
}
#menu{
    position: fixed;
    left: -100%;
    background-color: white;
    top: 0;
    padding: 40px 36px 36px 36px;
    height: 100%;
    z-index: 9999;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}
#close-menu{
    position: relative;
    top: -20px;
    left: -40px;
    font-size: 16px;
}
.fa-circle-half-stroke{
    margin: 2px;
    color: yellow;
}
.progress{
    height: 14px;
    background-color: var(--blue);
    width: 25%;
    border-radius: 5px;
}
.progress > label{
    color: white;
}
.progress-border{
    width: 150px;
    margin-left: 20px;
}
nav > .fa-bars{
    position: absolute;
    left: 16px;
    top: 25%;
    font-size: 26px;
}
nav > .usuario{
    position: absolute;
    right: 16px;
    top: 25%;
    font-size: 26px;
    color: white;
}
.livros, .idades{
    width: 100%;
    background-color: rgb(64, 201, 201);
    padding: 10px;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    margin-top: 50px;
    border: solid 2px black;
    left: 0;
}
.idades{
    justify-content: center;
}
.l{
    background-color: green;
    padding: 26px 34px;
    border-radius: 15px;
    font-size: 26px;
    text-decoration: none;
    color: white;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    transition: .2s;
    border: solid 0.7px white;
}
.l:hover{
    background-color: rgb(0, 77, 0);
    box-shadow: 0 3px 5px black;
    transform: translateY(-5px);
}
.dez{
    background-color: rgb(98, 98, 233);
    padding: 26px;
    border-radius: 15px;
    font-size: 26px;
    text-decoration: none;
    color: white;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    transition: .2s;
    border: solid 0.7px white;
}
.dez:hover{
    background-color: rgb(61, 61, 146);
    box-shadow: 0 3px 5px black;
    transform: translateY(-5px);
}
.doze{
    background-color: #fecc14;
    padding: 26px;
    border-radius: 15px;
    font-size: 26px;
    text-decoration: none;
    color: white;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    transition: .2s;
    border: solid 0.7px white;
}
.doze:hover{
    background-color: #c59e0f;
    box-shadow: 0 3px 5px black;
    transform: translateY(-5px);
}
.quatorze{
    background-color: #ea6914;
    padding: 26px;
    border-radius: 15px;
    font-size: 26px;
    text-decoration: none;
    color: white;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    transition: .2s;
    border: solid 0.7px white;
}
.quatorze:hover{
    background-color: #c75b12;
    box-shadow: 0 3px 5px black;
    transform: translateY(-5px);
}
.container > img{
    width: 150px;
    height: 200px;
}
.container{
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 2px 5px black;
    padding: 38px;
    margin: 10px auto;
    transition: .2s;
}
.container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 12px black;
    z-index: 1;
}
button{
    background-color: transparent;
    border: transparent;
}
nav > .voltar{
    position: absolute;
    left: 16px;
    top: 26%;
    font-size: 26px;
    background-color: transparent;
    border: transparent;
    color: white;
}
.primary-button{
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-family: 'Rubik';
    cursor: pointer;
    transition: .2s;
}
.primary-button:hover{
    background-color: white;
    color: blue;
    border: solid 0.1px;
    padding-bottom: -1px;
    
}
.primary-button:hover::after{
    content: ">";
    transition: all .2s ease;
}
.disamble-button{
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    font-family: 'Rubik';
}
a{
    text-decoration: none;
}