body{
    height: 100vh;
    align-items: center;
    background-color: chartreuse;
    overflow: hidden;
    font-family: sans-serif;
}
.page, .dark-page{
    background-color: white;
    width: 400px;
    height: 500px;
}
.dark-page > img{
    filter: drop-shadow(16px 16px 20px red) invert(105%);
}
#flipbook{
    top: 5%;
    left: 1%;
}
.hard{
    background-color: gray;
    color: white;
    width: 400px;
    height: 500px;
}
.book-menu{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 26px 0 26px 0;
    width: 100px;
    border: solid 2px black;
    border-radius: 15px;
}
.book-menu > button{
    border: solid 1px black;
    padding: 10px;
    width: 100%;
}
button{
    background-color: transparent;
    border: transparent;
    top: 90%;
    left: 30%;
}
.fa-book{
    position: fixed;
    font-size: 26px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    left: 16px;
    bottom: 16px;
}
.fa-book:hover > .book-menu{
    display: block;
}
nav > .voltar{
    position: absolute;
    left: 16px;
    top: 26%;
    font-size: 26px;
    background-color: transparent;
    border: transparent;
    color: white;
}