body{
    height: 100vh;
    align-items: center;
    background-color: chartreuse;
    overflow: hidden;
    font-family: sans-serif;
}
.page, .dark-page{
    background-color: white;
    width: 400px;
    height: 500px;
}
.dark-page > img{
    filter: drop-shadow(16px 16px 20px red) invert(105%);
}
.blur{
    display: fixed;
    background-color: rgba(255,255,255, 0.5);
    width: 100%;
    height: 100%;
    right: 0;
    z-index: 9999;
    display: none;
}
.blur > div{
    position: absolute;
    background-color: white;
    width: 70%;
    height: 30%;
    top: 30%;
    left: 15%;
}
.fa-circle-half-stroke{
    font-size: 40px;
    margin: 16px;
}
#flipbook{
    position: absolute;
    top: 9px;
    left: 0px;
}
@media (max-resolution: 1dppx) {
    @media (any-pointer: coarse) {
        #flipbook{
            left: 0%;
        }
    }
}
.hard{
    background-color: gray;
    color: white;
    width: 400px;
    height: 500px;
}
.book-menu{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 26px 0 26px 0;
    width: 100px;
    border: solid 2px black;
    border-radius: 15px;
    z-index: 9999;
}
.book-menu > button{
    border: solid 1px black;
    padding: 10px;
    width: 100%;
}
button{
    background-color: transparent;
    border: transparent;
    top: 90%;
    left: 30%;
}
.fa-book{
    position: fixed;
    font-size: 26px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    left: 16px;
    bottom: 16px;
}
.fa-book:hover > .book-menu{
    display: block;
}
nav > .voltar{
    position: absolute;
    left: 16px;
    top: 26%;
    font-size: 26px;
    background-color: transparent;
    border: transparent;
    color: white;
}